*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HTML*/
html{
    height: 100%;
    width: 100%;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*BODY*/
body{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 140px;
    background-color: #1c222b;

}
#div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div img{
    height: 200px;
    width: 240px;
    align-items: center;
}
#div>h1{
    font-family: "Sedgwick Ave Display", cursive;
    font-optical-sizing: auto;
    font-weight:bold;
    font-size: 75px;
    font-style: normal;
    color: rgb(255, 111, 0);
}

/*BUTTONS*/
button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(211, 245, 250);
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#modulo,#divide,#multiply,#add,#subtract,#dot{
    background-color: #F4A950;
    color: white;
}
#clear,#equal{
    background-color: #EE4E34;
}

#container{
    display: grid;
    justify-items: center;
    align-self: center;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: #2f3843;
}
#container button:hover{
    border:1px solid white;
    transition-duration: .5s;
}

#calc{
    background-color:  #2f3843;
    border: 2px solid #2f3843;
    border-radius: 10px;
}

/*RESULT BOX*/
#inputbox{
    height: 60px;
    width: 100%;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
#emp{
    background-color:none;

}

/*MEDIA QUERRY*/

@media screen and (max-width: 330px)  {
    #inputbox{
        font-size: 20px;
    }

}

@media screen and (min-width:250px) and (max-width:300px)  {
    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 70px;
    }
    #div img{
        display: none;
    }
    #div>h1{
        font-size: 30px;

    }
}

@media screen and (min-width:300px) and (max-width:400px)  {
    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 70px;
    }
    #div img{
        display: none;
    }
    #div>h1{
        font-size: 45px;
        text-align: center;

    }
}

@media screen and (min-width:400px) and (max-width:700px)  {
    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 70px;
    }
    #div img{
        display: none;
    }
    #div>h1{
        font-size: 45px;
    }
}
@media screen and (min-width:700px) and (max-width:800px)  {
    #div>h1{
        font-size: 35px;
    }
    body{
        gap: 10px;
    }
    #div img{
        height: 150px;
        width: 150px;
    }
}

@media screen and (min-width:800px) and (max-width:900px)  {
    #div>h1{
        font-size: 45px;
    }
    body{
        gap: 15px;
    }
    #div img{
        height: 180px;
        width: 180px;
    }
}
@media screen and (min-width:900px) and (max-width:1200px)  {
    #div>h1{
        font-size: 55px;
    }
    body{
        gap: 15px;
    }
}



@media screen and (min-height:900px) and (max-height:1900px)  {
    #calc{
        height: 1000px;
        width: 70%;
    }
    #container{
        height: 1000px;
    }
    button{
        height: 150px;
        width: 150px;
        font-size: 80px;
    }
    #inputbox{
        height:150px;
    }
}

@media screen and (max-width:400px)  {
    body>h1{
        font-size: 35px;
        text-align: center;
    }
}